body,div,span,header,footer,nav,section,aside,article,ul, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select, pre, code  {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  font-family: "Source Code Pro", Consolas,Menlo,Monaco, "Courier New", monospace, sans-serif;
}
html,body{
  height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 14px;
}
img{
  display: block;
}
li, ol{
  list-style: none;
}

.container {
  margin: auto;
  width: 1140px;
}
@media (max-width: 1140px) {
  .container {
    width: 100%;
  }
}

@import "theme/flex";
@import "theme/text";
